@charset "UTF-8";
/*подключаем шрифты */
@font-face {
  font-family: "RobotoRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoLight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype"); }

@font-face {
  font-family: "ProximaNovaSBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ProximaNovaSBold/ProximaNovaSBold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaSBold/ProximaNovaSBold.woff") format("woff"), url("../fonts/ProximaNovaSBold/ProximaNovaSBold.ttf") format("truetype"); }

@font-face {
  font-family: "ProximaNovaLight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ProximaNovaLight/ProximaNovaLight.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaLight/ProximaNovaLight.woff") format("woff"), url("../fonts/ProximaNovaLight/ProximaNovaLight.ttf") format("truetype"); }

@font-face {
  font-family: "ProximaNovaBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaBold/ProximaNovaBold.woff") format("woff"), url("../fonts/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype"); }
